*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0A2342;
    
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFDF7;
    text-align: center;
    font-size: 3rem;
}
.source{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 20vmin;
    width: 18vmin;
    margin: 2px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    border-radius: 10px;
    font-size: 3rem;
    font-weight: 600;
    background-color: #2CA58D;
    color: #FFFDF7;
}
#reset{
   display: flex;
   justify-content: center;
   align-items: center;
}
#bottom{
    padding: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: #84BC9C;
    color: #FFFDF7;
}

#upper{
    padding: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: #84BC9C;
    color: #FFFDF7;
}
#winner{
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: sans-serif;
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#start{
    padding: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: #84BC9C;
    color: #FFFDF7;
}
.hide{
    display: none;
}